@import "../variables";

.root {
  position: relative;
  display: table;
  z-index: 1;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  outline: none;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
